# Ignore everything by default
/*
# But descend into directories
!.gitignore
!.bashrc
!.bash_profile
!.vimrc
!/.config
/.config/vivaldi
/.config/xfce4
/.config/chromium
/.config/Code/*
*cache*
*Cache*
*GPUCache*
cookie*
Cookies*
*DB*
*Storage*
*.log
*.*db*
*.locale
*Backup*
*history*
!/.config/Code/User
!/.config/awesome/
!/.config/compton.conf
!/.config/conky.conf
!/.config/i3/
!/.config/i3status/
!/.config/openbox/
!/.config/tint2/
!/.config/wal/

