* {
    font-family: JetBrainsMono;
}

window#waybar {
    background: rgba(40,42,54,0.5);
    color: #7c7f93;
}

.modules-right {
    margin-right: 12px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tray menu {
    background: rgba(40,42,54,1.0);
    color: #7c7f93;
}

#tray menu menuitem:hover {
    background: #04a5e5;
    color: #303446;
}

.module {
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background: transparent;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 26px;
    border: 1px solid #4c4f69;
}


#workspaces button {
    color: #7c7f93;

}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-color: rgba(40,42,54,0.5);
    background: rgba(40,42,54,0.5);
}

#idle_inhibitor {
    padding-left: 8px;
}


